<%= link_to new_user_session_path, class: "text-sm text-primary hover:underline" do %>
  <button class="px-4 py-2 bg-primary text-white rounded hover:bg-primary-dark">
    Login
  </button>
<% end %>
