<turbo-frame id="<%= dom_id(@user_contact) %>">
  <div
    class="max-w-sm rounded overflow-hidden shadow-lg bg-white hover:shadow-xl transition-shadow duration-300 border border-gray-200"
  >
    <!-- Details Elements -->
    <%= render(Card::UserContact::DetailsComponent.new(user_contact: @user_contact)) %>

    <!-- Footer Actions -->
    <div class="flex justify-end px-6 py-4 space-x-4">
      <%= render(Button::Update::UserContactComponent.new(user_contact: @user_contact)) %> <%=
      render(Button::Delete::UserContactComponent.new(user_contact: @user_contact)) %>
    </div>
  </div>
</turbo-frame>
