<nav class="bg-white border-b border-gray-200 dark:bg-gray-900">
  <div class="container mx-auto flex justify-between items-center p-4">
    <a href="<%= root_path %>" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="https://assets-global.website-files.com/613a12262b611ff5e71f2e9b/64511492d7bcac7f1922c281_iStock-1383122126.jpg"
        class="h-12 w-24 object-cover"
        alt="NetMgt Logo"
      />
      <span class="text-3xl font-semibold text-primary dark:text-white">NetMgt</span>
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <% if user_signed_in? %>
        <%= render(Dropdown::UserMenuComponent.new) %>
      <% else %>
        <%= render(Button::LoginComponent.new) %>
      <% end %>
    </div>
  </div>
</nav>