<nav class="bg-gray-50 border-b border-gray-200 dark:bg-gray-700">
  <div class="container mx-auto flex justify-between items-center p-4">
    <ul class="flex items-center space-x-8 rtl:space-x-reverse text-sm font-medium">
      <li>
        <a href="<%= app_dashboard_path %>" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Dashboard</a>
      </li>
      <li>
        <a href="<%= app_contacts_path %>" class="text-gray-900 dark:text-white hover:underline">Contacts</a>
      </li>
    </ul>
    <ul class="flex items-center space-x-8 rtl:space-x-reverse text-sm font-medium">
      <li>
        <a href="#" class="text-gray-900 dark:text-white hover:underline">Help</a>
      </li>
    </ul>
  </div>
</nav>