<div class="container mx-auto p-4 min-h-screen">
  <%= render BreadcrumbComponent.new(links: [{ name: 'Home', path: '/' }, { name: 'App', path: '/app' }, { name: 'Contacts', path: nil }]) %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Contacts</h1>
    <a href="<%= new_app_contact_path %>" class="bg-primary hover:bg-primary-dark text-white font-bold py-2 px-4 rounded">
      Add Contact
    </a>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% @user_contacts.each do |user_contact| %>
      <%= render Card::UserContactComponent.new(user_contact: user_contact) %>
    <% end %>
  </div>
</div>
